<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25188460180-g84h1cci5n7umtu7heftqm7cut8h0rtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25188460180-g84h1cci5n7umtu7heftqm7cut8h0rtv</string>
	<key>API_KEY</key>
	<string>AIzaSyC8LXEThdpHgOQk59b80VXx72KsV76GfHM</string>
	<key>GCM_SENDER_ID</key>
	<string>25188460180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phattai1.learningenglishvocabularyapplication</string>
	<key>PROJECT_ID</key>
	<string>vocablearningapp</string>
	<key>STORAGE_BUCKET</key>
	<string>vocablearningapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25188460180:ios:23120be347bb57d72bb681</string>
</dict>
</plist>